page-profile {
  .img{
    height: 40vw;
    width: 40vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: 82px;
    margin-right: auto;
    margin-top: 9px;
  }

  .cardProfile {
    background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
    position: center;
  }

  .fondo{
    height: 100%;
    background: linear-gradient(rgb(55, 78, 162), rgb(97, 33, 34)) no-repeat;
  }

  .formcard{
    //border-color: rgb(104, 145, 162);
    background: linear-gradient(rgb(162, 142, 142),rgb(55, 78, 162));
  }

  .slide{
    background: linear-gradient(rgb(55, 78, 162), rgb(97, 33, 34)) no-repeat;
  }

  .aligncenter{
    text-align: center;
    text-transform:uppercase;
    margin-top: 15px;
    margin-left: 50px;

  }

  .aligncenteruserdat{
    text-align: center;
    text-transform:uppercase;
    margin-top: 15px;
  }

  .colordata{
    background-color: lightgray;
  }

  .customIcon {
    font-size: 1.7em;
  }

  .imgtitulo{
    width: 310px;
    height: 40px;
  }

  .piepagina{
    width: 30px;
    height: 35px;
  }
}
